@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("../lms-font/Pretendard-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../lms-font/Pretendard-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../lms-font/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../lms-font/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("../lms-font/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../lms-font/Pretendard-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("../lms-font/icon.woff2") format("woff2");
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-width: 38rem;
  overflow: auto;
  font: 400 1.6rem/1 "Pretendard";
}

body * {
  letter-spacing: 0;
}

.wrap {
  height: 100%;
  color: #595959;
}

.inner {
  width: 100%;
}

main .inner {
  max-width: 140rem;
}

.hidden {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.fix {
  position: fixed;
}

.inline {
  display: inline-block;
}

.inline-t {
  display: inline-block;
  vertical-align: top;
}

.inline-m {
  display: inline-block;
  vertical-align: sub;
}

.block {
  display: block;
}

strong {
  font-weight: 600;
}

*[class*=flex__], .flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

*[class*=__d] {
  justify-content: space-between;
}

*[class*=__s] {
  justify-content: flex-start;
}

*[class*=__e] {
  justify-content: flex-end;
}

*[class*=__c] {
  justify-content: center;
}

*[class*=__t] {
  align-items: flex-start;
}

*[class*=__m] {
  align-items: center;
}

*[class*=__b] {
  align-items: flex-end;
}

*[class*=grid__], .grid {
  display: grid;
}

.mgr10 {
  margin-right: 1rem;
}

.mgl10 {
  margin-left: 1rem;
}

.mgt10 {
  margin-top: 1rem;
}

.mgb10 {
  margin-bottom: 1rem;
}

.mgr20 {
  margin-right: 2rem;
}

.mgl20 {
  margin-left: 2rem;
}

.mgt20 {
  margin-top: 2rem;
}

.mgb20 {
  margin-bottom: 2rem;
}

.mgr30 {
  margin-right: 3rem;
}

.mgl30 {
  margin-left: 3rem;
}

.mgt30 {
  margin-top: 3rem;
}

.mgb30 {
  margin-bottom: 3rem;
}

.mgr40 {
  margin-right: 4rem;
}

.mgl40 {
  margin-left: 4rem;
}

.mgt40 {
  margin-top: 4rem;
}

.mgb40 {
  margin-bottom: 4rem;
}

.mgr50 {
  margin-right: 5rem;
}

.mgl50 {
  margin-left: 5rem;
}

.mgt50 {
  margin-top: 5rem;
}

.mgb50 {
  margin-bottom: 5rem;
}

.cl1 {
  color: #1d3f7f;
}

.w100 {
  width: 100%;
}

/*# sourceMappingURL=common.css.map */
