@import "variable";


// ── Default ──
@mixin theme ($background, $color) {
  background: $background;
  color: $color;
}







// ── transition ──
@mixin transition ($trans:all ease, $time:0.25s) {
  transition: $trans; 
  transition-duration: $time;
}








// ── Responsive ──
@mixin mobile {
  @media (min-width: 0) and (max-width: #{$mobile - 1px}) {
    @content;
  }
}
@mixin tabletToMobile {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$laptop - 1px}) {
    @content;
  }
}
@mixin laptopTotablet {
  @media (min-width: #{$laptop}) and (max-width: #{$desktopToLaptop - 1px}) {
    @content;
  }
} 
@mixin desktopToLaptop {
  @media (min-width: #{$desktopToLaptop}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}


// ── Layout ──
@mixin layoutPC($col:25rem) {
  .container {
    grid-template-columns: $col auto;
    aside {
      display: block;
    }
    main {      
      margin-left:1.5rem;
    }
  }
}
@mixin layoutM($padg1: 3rem 2rem, $padg2: 7rem 5rem, $bdn:.1rem solid #ededed) {
  .container {
    padding: $padg1;    
    aside {
      display: none;
    }
    main {      
      padding: $padg2;
      border: $bdn;
    }
  }
}


// ── Responsive Default ──
@mixin t-dafault () {
  .t-non {display: none !important;}
  .t-show {display: block !important;}
}
@mixin t-t-dafault () {
  .t-t-non {display: none !important;}
  .t-t-show {display: block !important;}
}
@mixin t-t-m-dafault () {
  .t-t-m-non {display: none !important;}
  .t-t-m-show {display: block !important;}
}
@mixin tm-dafault () {
  .tm-non {display: none !important;}
  .tm-show {display: block !important;}
  .m-mt10 {margin-top:1rem;}
}
@mixin t-m-dafault () {
  .t-m-non {display: none !important;}
  .t-m-show {display: block !important;}
  .m-mt10 {margin-top:1rem;}
}
@mixin m-dafault () {
  .m-non {display: none !important;}
  .m-show {display: block !important;}
}


// ── Responsive List ──
// header
@mixin t-header () {
  header .top .inner > div .t-menu li{
    margin-left: nth($size, 2);
    a {
      > div {
        div {
          .material-symbols-outlined {font-size:nth($size, 3)}          
        }
        p { display: none; }
      }
    }
  }
}
@mixin tm-header () {
  header .top .inner > div {
    .t-menu {display:none;}
    .ham-btm {display: flex;}
  }
  .container aside .t-menu {display:block;}
   
  
}
@mixin m-header () {
  header .top .inner > div .t-menu li {
    
    &.logout { 
      margin-left:0;
      button {
        padding: 0 nth($size, 2);
        .material-symbols-outlined { margin-right:0;}
        span:nth-child(2) {
          display: none;
        }
      }
      
    }
  }
  
}


@mixin m-cont () {
  main {
    $lg:4rem;
    select, input:not([type=radio]):not([type=checkbox]) {
      height:$lg; line-height: $lg; 

    }
    button {height:$lg;}
    section h1.tit {
      text-align:center;
    } 
  }
  
  .board-box {
    .search-box {
      justify-content: center;
      .search-type {
        input {width:21rem;}
        .item-date .dp__input {
          padding-left:3.5rem;
          font-size: 1.4rem;
          letter-spacing:-.1rem;
        }
      } 
    }
    .search-txt {text-align:center;}
    &.board-list {
      table { 
        margin-top:nth($size, 6); 
        td button {
          padding:0 .8rem;
        }
      }
      
      .pagination {margin-top:12rem;}
    }
    &.board-view {
      .ta { 
        margin-top: nth($size, 6);
      }      
    }
    &.board-write {
      table {
        margin-top:nth($size, 6);
        .chk + input {width:calc(100% - nth($size, 4))}
      }
    }
    .ea {
      select, button {
        min-width:10rem;
      }
    }
    
  } 

  
    

    
}
