

// ── Responsive ──
$mobile: 540px;
$tablet: 720px;
$laptop: 960px;
$desktopToLaptop: 1200px;
$desktop: 1500px;


// ── Thema ──
$tm1: #1be5ff;
$tm2: #1d3f7f;
$tm3: #f7f8f9;
$tm4: #5691f3;
$tm5: #175fe3;
$bk: #111;
$wh: #fff;
$cl1: #9bfffa;
$cl2: #d1dbe1;
$cl3: #f7f7f7;


// ── Common ──
$headerH: 5.8rem;
$ratio100: 100%;
$url: '../lms-img/';
$size: (1rem, 2rem, 3rem, 4rem, 5rem, 6rem, 7rem, 8rem, 9rem, 10rem );

