

// ── Responsive ──
$mobile: 540px;
$tablet: 720px;
$laptop: 960px;
$desktopToLaptop: 1200px;
$desktop: 1500px;


// ── Thema ──
$tm1: #89f3d6;
$tm2: #002844;
$tm3: #f7f8f9;
$bk: #111;
$wh: #fff;
$cl1: #004779;
$cl2: #d1dbe1;
$cl3: #f7f7f7;


// ── Common ──
$headerH: 8.8rem;
$url: '../lms-img/';



$margin-values: 10 20 30 40 50;


@each $value in $margin-values {
  $value-rem: $value * .1rem;
  
  .mgr#{$value} { margin-right: $value-rem; }
  .mgl#{$value} { margin-left: $value-rem; }
  .mgt#{$value} { margin-top: $value-rem; }
  .mgb#{$value} { margin-bottom: $value-rem; }
}