

// ── Responsive ──
$mobile: 540px;
$tablet: 720px;
$laptop: 960px;
$desktopToLaptop: 1200px;
$desktop: 1500px;


// ── Thema ──
$tm1: #89f3d6;
$tm2: #002844;
$tm3: #f7f8f9;
$bk: #111;
$wh: #fff;
$cl1: #004779;
$cl2: #d1dbe1;


// ── Common ──
$headerH: 8.8rem;
$url: '../lms-img/';